<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row justify-content-center">
        <div id="logo">
          <a href="/admin"><img src="/img/logo.png" alt="" title="" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-center d-flex">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/admin">Home</a></li>
          <li class="menu-has-children">
            <a href="/login">Login</a>
            <ul>
              <li><a href="/login">Restaurant</a></li>
              <li><a href="/login/kitchen">Kitchen</a></li>
              <li><a href="/login/bar">Bar</a></li>
            </ul>
          </li>
          <li><a href="/admin/menu">Menu</a></li>
          <li><a href="/admin/edit/menu">Menu edit</a></li>
          <li><a href="/admin/addMeal">Add Meal</a></li>
          <li><a href="/admin/editMeal">Edit Meal</a></li>
          <li><a href="/admin/deleteMeal">Delete Meal</a></li>
          <li><a href="/login/logout">Logout</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </div>
</header>
