<footer class="footer-area" style="position: fixed; bottom: 0px; width: 100%;">
  <div class="footer-widget-wrap"></div>
  <div class="footer-bottom-wrap">
    <div class="container">
      <div
        class="row footer-bottom d-flex justify-content-between align-items-center"
      >
        <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This system is made with
          <i class="fa fa-heart-o" aria-hidden="true"></i> by
          <a href="https://github.com/TimBreuel" target="_blank">Tim&nbsp;</a
          >and<a href="https://github.com/ShirinValizadeh" target="_blank"
            >&nbsp;Shirin</a
          >
        </p>

        <!-- <ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons text-right">
          <li>
            <a href="/#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="/#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="/#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a href="/#"><i class="fa fa-behance"></i></a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</footer>
