<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <%- include('partials/header') %>
</head>

<body>
  <%- include('partials/bodyHeader') %>
  <!-- #header -->

  <!-- Start reservation Area -->
  <section class="reservation-area section-gap relative costumerLoginArea" style="padding-top: 300px; height: 100vh;">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 reservation-left">
          <h1 class="text-white" id="loginRestaurantHeadline">
            Do you Forgot Password
          </h1>
          <p class="text-white pt-20" id="loginRestaurantMessage">
            Enter your email addres below and we will send you instructions to reset your password.
          </p>
        </div>
        <div class="col-lg-5 reservation-right">
          <form class="form-wrap text-center"   style="padding-top: 80px; padding-bottom: 80px;">
            <h3>Forgot Password</h3>
            <p>Enter your email addres below and we will send you instructions to reset your password.</p>
            <hr>
            <input type="email" class="form-control" name="email" id="loginRestaurantEmail"
              placeholder="Your Email Address" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Your Email Address'" />

            <input type="submit" id="loginRestaurantBtn" class="primary-btn text-uppercase mt-20" value=" Reset Password">
         <!--    <button >
             
            </button> -->
            <hr>
            <div>
              <p>Have an account and remmeber your password ?<a href="/login">Sign up.</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

      <!-- End menu-area Area -->
      <div class="modal" tabindex="-1" role="dialog" id="resultModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delet???</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>are you sure you want to delet</p>
            </div>
            <div class="modal-footer">
    
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal end -->
  <!-- End reservation Area -->

  <!-- End login Area -->

  <!-- start footer Area -->
  <%- include('partials/footer') %>
  <!-- End footer Area -->

  <%- include('partials/scripts') %>
  <script>
      //GET THE BUTTON AND MAKE VALIDATION
      const loginRestaurantBtn = document.querySelector("#loginRestaurantBtn");
      loginRestaurantBtn.addEventListener("click", (e) => {
        e.preventDefault();
        const loginRestaurantEmail = document.querySelector(
          "#loginRestaurantEmail"
        );
  
        let isVerified = {
          valid: true,
          msg: "",
        };

        if (!loginRestaurantEmail.value.trim()) {
          isVerified.valid = false;
          isVerified.msg += "Please feel out email<br>";
        }
  

        if (!isVerified.valid) {
          errorMessage(isVerified.msg);
        } else {
          const data = {
            email: loginRestaurantEmail.value,
           
          };
          postData("/forgotPassword", data).then((data) => {

            if (data === 1) {
              showModal(false, "success", "check your E-Mail");
            }
          });
        }
      });

      //////////////////////////
      //FETCH THE REGISTER DATA
      async function postData(url = "", data = {}) {
        const response = await fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        return response.json();
      }

</script>

</body>

</html>