<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/bodyHeader') %>
    <!-- #header -->

    <!-- start banner Area -->
    <section class="banner-area">
      <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
          <div class="col-lg-12 banner-content">
            <h6 class="text-white"></h6>
            <h1 class="text-white">Delicious Recipes</h1>
            <p class="text-white">
              inappropriate behavior is often laughed off as “boys will be
              boys,” women face higher conduct standards especially in the
              workplace. That’s why it’s crucial that, as women.
            </p>
            <a href="/#" class="primary-btn text-uppercase">Check Our Menu</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 home-about-left">
            <h1>About Our Story</h1>
            <p>
              Who are in extremely love with eco friendly system. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
            <a href="/#" class="primary-btn">view full menu</a>
          </div>
          <div class="col-lg-6 home-about-right">
            <img class="img-fluid" src="/img/about-img.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End home-about Area -->

    <!-- Start menu-area Area -->
    <section class="menu-area section-gap" id="menu">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">This is how your menu could look like</h1>
              <p>
                Who are is interestestet in our system can register and take a
                look
              </p>
            </div>
          </div>
        </div>

        <ul class="filter-wrap filters col-lg-12 no-padding">
          <li class="active" data-filter="*">All Menu</li>
          <li data-filter=".breakfast">Breakfast</li>
          <li data-filter=".lunch">Lunch</li>
          <li data-filter=".dinner">Dinner</li>
          <li data-filter=".budget-meal">Budget Meal</li>
          <li data-filter=".buffet">Buffet</li>
        </ul>

        <div class="filters-content">
          <div class="row grid">
            <div class="col-md-6 all breakfast">
              <div class="single-menu">
                <div class="title-wrap d-flex justify-content-between">
                  <h4>Cappuccion</h4>
                  <h4 class="price">$49</h4>
                </div>
                <p>
                  Usage of the Internet is becoming more common due to rapid
                  advance.
                </p>
              </div>
            </div>
            <div class="col-md-6 all dinner">
              <div class="single-menu">
                <div class="title-wrap d-flex justify-content-between">
                  <h4>Americano</h4>
                  <h4 class="price">$49</h4>
                </div>
                <p>
                  Usage of the Internet is becoming more common due to rapid
                  advance.
                </p>
              </div>
            </div>
            <div class="col-md-6 all budget-meal">
              <div class="single-menu">
                <div class="title-wrap d-flex justify-content-between">
                  <h4>Macchiato</h4>
                  <h4 class="price">$49</h4>
                </div>
                <p>
                  Usage of the Internet is becoming more common due to rapid
                  advance.
                </p>
              </div>
            </div>
            <div class="col-md-6 all breakfast">
              <div class="single-menu">
                <div class="title-wrap d-flex justify-content-between">
                  <h4>Mocha</h4>
                  <h4 class="price">$49</h4>
                </div>
                <p>
                  Usage of the Internet is becoming more common due to rapid
                  advance.
                </p>
              </div>
            </div>
            <div class="col-md-6 all lunch">
              <div class="single-menu">
                <div class="title-wrap d-flex justify-content-between">
                  <h4>Piccolo Latte</h4>
                  <h4 class="price">$49</h4>
                </div>
                <p>
                  Usage of the Internet is becoming more common due to rapid
                  advance.
                </p>
              </div>
            </div>
            <div class="col-md-6 all buffet">
              <div class="single-menu">
                <div class="title-wrap d-flex justify-content-between">
                  <h4>Ristretto</h4>
                  <h4 class="price">$49</h4>
                </div>
                <p>
                  Usage of the Internet is becoming more common due to rapid
                  advance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End menu-area Area -->

    <!-- Start reservation Area -->
    <section class="reservation-area section-gap relative">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 reservation-left">
            <h1 class="text-white">
              Register your restaurant to our sytem and see how amazing it is.
              :)
            </h1>
            <p class="text-white pt-20">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam. Quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea.
            </p>
          </div>
          <div class="col-lg-5 reservation-right">
            <form class="form-wrap text-center" action="#">
              <input
                type="text"
                class="form-control"
                id="registerRestaurantName"
                name="YourRestaurantName"
                placeholder="Your Restaurant Name"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Restaurant Name'"
              />
              <input
                type="text"
                class="form-control"
                id="registerFirstName"
                name="FirstName"
                placeholder="First Name"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'First Name'"
              />
              <input
                type="text"
                class="form-control"
                id="registerLastName"
                name="LastName"
                placeholder="Last Name"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Last Name'"
              />
              <input
                type="email"
                class="form-control"
                name="email"
                id="registerEmail"
                placeholder="Your Email Address"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Email Address'"
              />
              <input
                type="password"
                class="form-control"
                name="password"
                id="registerPassword"
                placeholder="Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
              />
              <input
                type="password"
                class="form-control"
                name="rePassword"
                id="registerRePassword"
                placeholder="Repeat Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Repeat Password'"
              />

              <button class="primary-btn text-uppercase mt-20" id="registerBtn">
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End reservation Area -->

    <!-- Start gallery-area Area -->
    <section class="gallery-area section-gap" id="gallery">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Food and Customer Gallery coming soon</h1>
              <p>
                We are working on this part to make your restsurant more better
              </p>
            </div>
          </div>
        </div>

        <ul class="filter-wrap filters col-lg-12 no-padding">
          <li class="active" data-filter="*">All Menu</li>
          <li data-filter=".breakfast">Breakfast</li>
          <li data-filter=".lunch">Lunch</li>
          <li data-filter=".dinner">Dinner</li>
          <li data-filter=".budget-meal">Budget Meal</li>
          <li data-filter=".buffet">Buffet</li>
        </ul>

        <div class="filters-content">
          <div class="row grid">
            <div class="col-lg-4 col-md-6 col-sm-6 all breakfast">
              <div class="single-gallery">
                <img class="img-fluid" src="/img/g1.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all dinner">
              <div class="single-gallery">
                <img class="img-fluid" src="/img/g2.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all budget-meal">
              <div class="single-gallery">
                <img class="img-fluid" src="/img/g3.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all breakfast">
              <div class="single-gallery">
                <img class="img-fluid" src="/img/g4.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all lunch">
              <div class="single-gallery">
                <img class="img-fluid" src="/img/g5.jpg" alt="" />
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 all buffet">
              <div class="single-gallery">
                <img class="img-fluid" src="/img/g6.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- start footer Area -->
    <%- include('partials/footer') %>
    <!-- End footer Area -->

    <%- include('partials/scripts') %>
    <script>
      //GET THE BUTTON AND MAKE VALIDATION
      const registerBtn = document.querySelector("#registerBtn");
      registerBtn.addEventListener("click", (e) => {
        e.preventDefault();
        const registerRestaurantName = document.querySelector(
          "#registerRestaurantName"
        );
        const registerFirstName = document.querySelector("#registerFirstName");
        const registerLastName = document.querySelector("#registerLastName");
        const registerEmail = document.querySelector("#registerEmail");
        const registerPassword = document.querySelector("#registerPassword");
        const registerRePassword = document.querySelector(
          "#registerRePassword"
        );
        const registerHeadline = document.querySelector("#registerHeadline");
        const registerMessage = document.querySelector("#registerHeadline");
        let isVerified = {
          valid: true,
          msg: "",
        };

        if (!registerRestaurantName.value.trim()) {
          isVerified.valid = false;
          isVerified.msg += "Please feel out restaurant name<br>";
        }
        if (!registerFirstName.value.trim()) {
          isVerified.valid = false;
          isVerified.msg += "Please feel out frist name<br>";
        }
        if (!registerLastName.value.trim()) {
          isVerified.valid = false;
          isVerified.msg += "Please feel out last name<br>";
        }
        if (!registerEmail.value.trim()) {
          isVerified.valid = false;
          isVerified.msg += "Please feel out email<br>";
        }
        if (!registerPassword.value.trim()) {
          isVerified.valid = false;
          isVerified.msg += "Please feel out password<br>";
        }
        if (!registerPassword.value) {
          isVerified.valid = false;
          isVerified.msg += "Please feel out password<br>";
        }
        if (!registerRePassword.value) {
          isVerified.valid = false;
          isVerified.msg += "Please feel out password<br>";
        }
        if (registerPassword.value !== registerRePassword.value) {
          isVerified.valid = false;
          isVerified.msg += "Password are not match<br>";
        }
        if (!isVerified.valid) {
          errorMessage(isVerified.msg);
        } else {
          const data = {
            restaurantName: registerRestaurantName.value,
            firstName: registerFirstName.value,
            lastName: registerLastName.value,
            email: registerEmail.value,
            password: registerPassword.value,
          };
          postData("/register", data).then((data) => {
            console.log(data);
          });
        }
      });

      //////////////////////////
      //FETCH THE REGISTER DATA
      async function postData(url = "", data = {}) {
        const response = await fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        return response.json();
      }

      ///////////////////
      //ERROR MESSGAE fn
      function errorMessage(message) {
        const registerHeadline = document.querySelector("#registerHeadline");
        const registerMessage = document.querySelector("#registerMessage");
        registerHeadline.innerHTML =
          "Something goes wrong check the text below";
        registerMessage.innerHTML = message;
        setTimeout(() => {
          registerHeadline.innerHTML =
            "Register your restaurant to our sytem and see how amazing it is. :)";
          registerMessage.innerHTML =
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam. Quis nostrud exercitation ullamco laborisnisi ut aliquip ex ea.";
        }, 6000);
      }
    </script>
  </body>
</html>
