<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <%- include('partials/header') %>
</head>

<body>
  <div class="bg-dark" style="
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
      ">
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="/login/logout" style="font-size: 18px;">Logout</a></li>
      </ul>
    </nav>
  </div>

  <!-- Start menu-area Area -->
  <section class="menu-area section-gap" id="menu" style="height: 100vh; padding-bottom: 0; padding-top: 40px;">
    <div class="container">
      <div class="filters-content">
        <div class="row grid">
          <!-- JSX LOOP TO RENDER MENU -->



          <div class="col-md-12 all">
            <div class="single-menu">
              <!-- 
                <div class="title-wrap d-flex justify-content-between ">
                  <h3 class="text-uppercase ">Table number: #</h3>
                </div>

                <div style="display: flex; justify-content: space-between;">
                  <button
                    class="btn btn-small bg-danger text-white tableResetBtn"
                    tableId=""
                  >
                    Reset
                  </button>
                </div> -->
              <!-- accordion -->
              <!--Accordion wrapper-->
              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <h3 class="mb-0 text-center">
                        Table number: #
                      </h3>
                    </a>
                  </div>

                  <!-- Card body -->
                  <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                    <ul class="card-body">
                      <li> <a href="#" class="font-weight-bold h3 lineThrought"> berger </a> </li>
                      <li> <a href="#" class="font-weight-bold h3 lineThrought"> Drink </a> </li>

                    </ul>
                    <div style="display: flex; justify-content:center; ;">
                      <button style="width: 100%" class="btn btn-small bg-danger text-white tableResetBtn " tableId="">
                        Done
                      </button>
                    </div>
                  </div>

                </div>

                <!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">

                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingTwo2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                      aria-expanded="false" aria-controls="collapseTwo2">
                      <h5 class="mb-0">
                        Table number: #

                        <!-- Collapsible Group Item #2 <i class="fas fa-angle-down rotate-icon"></i> -->
                      </h5>
                    </a>
                  </div>

                  <!-- Card body -->
                  <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                    data-parent="#accordionEx">
                    <div class="card-body">
                      2
                    </div>
                  </div>

                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">

                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingThree3">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                      aria-expanded="false" aria-controls="collapseThree3">
                      <h5 class="mb-0">
                        Table number: #

                        <!-- Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon"></i> -->
                      </h5>
                    </a>
                  </div>

                  <!-- Card body -->
                  <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                    data-parent="#accordionEx">
                    <div class="card-body">
                      3

                    </div>
                  </div>

                </div>
                <!-- Accordion card -->

              </div>
              <!-- Accordion wrapper -->
              <!-- accordion -->

            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
  <!-- End menu-area Area -->

  <%- include('partials/scripts') %>

  <script>

    document.querySelectorAll('.lineThrought').forEach(element => {
      element.addEventListener('click', (e) => {
        e.preventDefault();
        console.log(e.target);
        e.target.style.textDecoration = "line-through"
        // e.target.classList.toggle('decoration')
      });
    });


  </script>



  <!-- <script>
      /////////////////
      //SERVICE BUTTONS
      const serviceResetBtn = document.querySelectorAll(".serviceResetBtn");
      serviceResetBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          e.preventDefault();
          postData("/login/service/tableService", {
            tableId: e.target.getAttribute("tableId"),
          }).then((data) => {
            if (data === 1) {
              e.target.classList.remove("bg-warning");
              e.target.classList.add("bg-secondary");
            }
          });
        });
      });

      /////////////////
      //PAYMENT BUTTONS
      const payedResetBtn = document.querySelectorAll(".payedResetBtn");
      payedResetBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          e.preventDefault();
          postData("/login/service/tablePayment", {
            tableId: e.target.getAttribute("tableId"),
          }).then((data) => {
            if (data === 1) {
              e.target.classList.remove("bg-primary");
              e.target.classList.add("bg-secondary");
            }
          });
        });
      });

      //POST DATA FETCH
      async function postData(url = "", data = {}) {
        const response = await fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        return response.json();
      }
    </script>  -->
</body>

</html>